# Node modules
node_modules/

# Env config
.env
.env.local
.env.development
.env.production

# Build output
dist/
build/
out/

# TypeScript
*.tsbuildinfo

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS/System files
.DS_Store
Thumbs.db

# Prisma
prisma/migrations/
prisma/dev.db

# Temporary upload folders
uploads/
encrypted_videos/
/src/generated/

# Cache
.cache/
.vite/
.next/
.temp/

# VSCode
.vscode/

# Optional IDEs
.idea/
*.swp
*.swo
*.sublime-workspace
